# OS
Thumbs.db
.DS_Store

# Editors/IDE
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.env/
.venv/
venv/
ENV/
build/
dist/
.cache/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml

# Arduino / PlatformIO
*.eep
*.elf
*.bin
*.hex
*.map
.arduino15/
.arduinoIDE/
.pio/
hardware/
libraries/*/examples/build*/
build*/
.gradle/
.gradle/
